<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cltcontrol.historialmedico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="historialmedico" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.cltcontrol.historialmedico" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AcercaActivity"
            android:label="@string/info" />
        <activity
            android:name=".activities.BuscarEmpleadoActivity"
            android:label="@string/buscar_empleado"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.HistorialPermisoParticularActivity"
            android:label="Permisos médicos particulares"/>
        <activity
            android:name=".activities.HistorialConsultaMedica"
            android:label="@string/historial_consulta_medica" />
        <activity
            android:name=".activities.HistorialAtencionEnfermeria"
            android:label="@string/historial_atencion_enfermeria" />
        <activity
            android:name=".activities.MenuEmpleadoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/menu_empleado" />
        <activity
            android:name=".activities.SigVitalRapidoActivity"
            android:label="Signos vitales" />
        <activity
            android:name=".activities.PermisosMedicosActivity"
            android:configChanges="screenSize|orientation"
            android:label="Permisos Medicos" />
        <activity
            android:name=".activities.GaleriaFragmentActivity"
            android:label="Galeria" />
        <activity
            android:name=".activities.ConsultaMedicaNuevoActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/consulta_medica_nuevo"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.InformacionConsultaMedicaActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.AtencionEnfermeriaActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/consulta_medica_nuevo" />

        <receiver android:name=".utils.SincronizacionInmediata">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

    </application>

</manifest>